// main SASS file
@import "_variable.scss";
@import "_mixin.scss"; 
@import "_content";

%message-base {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

message{
    @extend %message-base;
}

error{
    @extend %message-base;
    border-color:red;
}

warning{
    @extend %message-base;
    border-color: yellow;
}

